<h2>Recipe List</h2>
<hr />
<div class="row">
  <div class="col-4">
    <div class="list-group" *ngFor="let i of items | async">
      <button
        type="menu"
        class="list-group-item list-group-item-action"
        (click)="thisone(i.id)"
      >
        {{ i.foodName | titlecase }}
      </button>
    </div>
  </div>
  <div class="col-8">
    <span [ngSwitch]="selectedid">
      <div *ngFor="let f of items | async">
        <output *ngSwitchCase="f.id">
          <div class="mb-3">
            <img
              [src]="f.foodImg"
              class="img-fluid rounded img-thumbnail"
              style="height: 35vmin"
              alt="Image not available"
            />
          </div>
          <div class="mb-3">Recipe Name: {{ f.foodName | titlecase }}</div>
          <div class="mb-3">Description: {{ f.foodDesc }}</div>
          <div class="align-items-center">
            <span class="me-1">
              <button (click)="deleteFood(f.id)" class="btn btn-outline-danger">
                Delete
              </button>
            </span>
            <span class="me-1">
              <button (click)="editFood(f.id)" class="btn btn-outline-primary">
                Update
              </button>
            </span>
            <span class="me-1">
              <button (click)="foodInfo(f.id)" class="btn btn-outline-primary">
                View Recipe
              </button>
            </span>
          </div>
        </output>
      </div>
    </span>
  </div>
</div>
<!--     <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Recipe Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of items | async">
          <td>
            <img
              [src]="i.foodImg"
              class="img-thumbnail img-fluid"
              alt="Image not available."
              style="height: 150px;"
            />
          </td>
          <td style="vertical-align: middle">{{ i.foodName }}</td>
          <td class="row row-cols-lg-auto g-3 align-items-center">
            <span class="col-12">
              <button (click)="deleteFood(i.id)" class="btn btn-danger">
                Delete
              </button>
            </span>
            <span class="col-12">
              <button (click)="editFood(i.id)" class="btn btn-info">
                Update
              </button>
            </span>
            <span class="col-12">
              <button (click)="foodInfo(i.id)" class="btn btn-info">
                Details
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
 -->
