<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Recipe List</h2>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Recipe Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of items | async">
          <td>
            <img
              [src]="i.foodImg"
              class="img-thumbnail img-fluid"
              alt="Image not available."
              style="height: 150px;"
            />
          </td>
          <td style="vertical-align: middle">{{ i.foodName }}</td>
          <td class="row row-cols-lg-auto g-3 align-items-center">
            <span class="col-12">
              <button (click)="deleteFood(i.id)" class="btn btn-danger">
                Delete
              </button>
            </span>
            <span class="col-12">
              <button (click)="editFood(i.id)" class="btn btn-info">
                Update
              </button>
            </span>
            <span class="col-12">
              <button (click)="foodInfo(i.id)" class="btn btn-info">
                Details
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
