<h3>Add Recipe</h3>
<div *ngIf="!submitted">
  <form [formGroup]="foodForm" novalidate>
    <!-- Name Input: required -->

    <div class="mb-3 form-group">
      <label class="form-label"> Recipe Name </label
      ><span style="color: red"> *</span>

      <input
        type="text"
        class="form-control"
        name="foodName"
        formControlName="foodName"
        placeholder="Shrimp Scampi"
        required
      />
      <small *ngIf="foodName?.touched && foodName?.invalid">
        Missing recipe name
      </small>
    </div>

    <!-- Description Input: required -->

    <div class="mb-3 form-group">
      <label class="form-label"> Description </label>
      <span style="color: red"> *</span>

      <textarea
        class="form-control"
        name="foodDesc"
        formControlName="foodDesc"
        rows="3"
        placeholder="Shrimp Scampi is a food that includes various culinary preparations of certain crustaceans."
        required
      ></textarea>
      <small *ngIf="foodDesc?.touched && foodDesc?.invalid">
        Missing recipe description
      </small>
    </div>

    <!-- Image Input: required -->

    <div class="form-group mb-3">
      <label class="form-label"> Image URL </label>
      <span style="color: red"> *</span>

      <input
        type="url"
        class="form-control"
        name="foodImg"
        formControlName="foodImg"
        placeholder="http://www.website.com/image.jpg"
        required
      />
      <small *ngIf="foodImg?.touched && foodImg?.invalid">
        Missing/Invalid image URL
      </small>
    </div>

    <!-- Ingredients Input -->

    <div class="form-group mb-3">
      <label class="form-label"> Ingredients </label>
      <div
        formArrayName="foodIngr"
        *ngFor="let f of getIngr.controls; let i = index"
      >
        <div class="input-group mb-1">
          <input
            [formControlName]="i"
            name="foodIngr"
            type="text"
            class="form-control"
            placeholder="Shrimp"
          />

          <button
            (click)="delIngr(i)"
            class="btn btn-outline-danger"
            type="button"
          >
            Delete
          </button>
        </div>
      </div>
    </div>

    <!-- Buttons -->

    <button
      class="btn btn-outline-primary me-1"
      type="submit"
      (click)="save()"
      [disabled]="foodForm.invalid"
    >
      Submit
    </button>

    <button
      (click)="resetForm()"
      class="btn btn-outline-primary me-1"
      type="reset"
      value="Reset"
    >
      Reset Form
    </button>

    <button
      type="button"
      (click)="addIngr()"
      class="btn btn-outline-primary me-1"
    >
      Add Another Ingredient
    </button>
    <br />
    <i *ngIf="foodForm.invalid">* Fields are required.</i>
  </form>
</div>

<div *ngIf="submitted">
  <h4>You submitted successfully!</h4>
  <input
    class="btn btn-outline-primary me-1"
    (click)="addItem()"
    value="Add New Item"
  />
  <input
    class="btn btn-outline-primary"
    (click)="gotoList()"
    value="Return to List"
  />
</div>
