<h2>Recipe Details</h2>

<hr />
<div *ngIf="item" class="mb-4">
  <div class="mb-3">
    <img
      [src]="item.foodImg"
      class="img-fluid"
      style="height: 35vmin"
      alt="Image not available."
    />
  </div>
  <div class="mb-3">
    <label><b>ID: </b></label> {{ item.id }}
  </div>
  <div class="mb-3">
    <label><b>Recipe Name: </b></label> {{ item.foodName | titlecase }}
  </div>
  <div class="mb-3">
    <label><b>Description: </b></label> {{ item.foodDesc }}
  </div>
  <div>
    <label><b>Ingredients: </b></label>
    <div *ngFor="let i of item.foodIngr" class="list-group list-group-flush">
      <div class="list-group-item">
        {{ i | titlecase }}
      </div>
    </div>
    <div *ngIf="item.foodIngr.length < 1">No ingredients listed.</div>
  </div>
</div>

<input
  (click)="list()"
  class="btn btn-outline-primary"
  value="Return to List"
/>
